.main {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	width: 56%;
	height: 100%;
	/* min-height: 100vh; */
	/* background-color: rgba(0, 0, 0, 0.02); */
	/* background-color: var(--mantine-color-pink-light-color); */
}

.header {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	margin-bottom: 1.5rem;
}

.input {
	transition: none;

	&:focus-within {
		outline: 1px solid var(--mantine-color-pink-light-color);
		border-color: transparent;
	}
}

.containerUsers {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	font-size: 0.8rem;
	margin-bottom: 2rem;
}
