.userCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	padding: 0.7rem 1.1rem 0.6rem;
	border-radius: 0.8rem;
	cursor: pointer;
	border: 1px solid white;
	transition: all 0.25s cubic-bezier(0, 0.99, 1, 0.49);

	&:hover {
		/* border: 1px solid rgba(0, 0, 0, 0.4);
		outline: 2px solid rgba(0, 0, 0, 0.2); */
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04),
			0 1px 4px var(--mantine-color-pink-light-color),
			0 1px 2px var(--mantine-color-pink-light-color);
	}

	.leftContainer {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	.rightContainer {
		display: flex;
		align-items: center;
		gap: 0.6rem;
	}
}
